# Custom
/bin/*
/bin-int/*
*.vcxproj
*.vcxproj.user
deps/lib-vc2017/**
deps/lib-vc2019/**
deps/lib-vc2022/**
deps/glfw-3.3.8/**
.vs/**

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.lib
*.pdb

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
	

# Solution files
*.sln

# Executables
*.out
*.app
